@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.logIn {
  width: 100%;
}
.signInWindow {
  width: 450px;
  display: none;
  position: fixed;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 0 10px #000000;
  border-radius: 12px;
  background-color: white;
  margin-left: 40%;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  top: 100px;
}
.signInWindow.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.closeBtn {
  background-color: transparent;
  align-self: flex-end;
  font-size: 15px;
  cursor: pointer;
}
.signInHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.formTags {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formTags label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.formTags input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formTags input:focus {
  border-color: #e60000;
  outline: none;
}
.signInBtn {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #e60000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
}
.forgotPswrd {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 15px;
  margin: 15px 0;
}
.forgotPswrd a {
  text-decoration: none;
  color: black;
}
.forgotPswrd a:hover {
  text-decoration: underline;
}

.signUpLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpLink a {
  text-decoration: none;
  color: #e60000;
  font-weight: bold;
  text-decoration: underline;
}

.signUpWindow {
  width: 450px;
  display: none;
  position: fixed;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 0 10px #000000;
  border-radius: 12px;
  background-color: white;
  margin-left: 40%;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  top: 40px;
}
.signUpWindow.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signInBtn {
  margin: 15px auto;
}
.signInLink {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.signInLink a {
  text-decoration: none;
  color: #e60000;
  font-weight: bold;
  text-decoration: underline;
}
.tel-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  width: fit-content;
}
.tel-prefix {
  padding-right: 5px;
  color: #555;
  font-weight: bold;
}
.tel-input-container input {
  border: none;
  outline: none;
}
.passwordContainer{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  width: fit-content;
}
.passwordContainer input {
  border: none;
  outline: none;
}
.passwordContainer i{
  cursor: pointer;
}
@media screen and (max-width: 810px) {
  .signInWindow,
  .signUpWindow {
    width: 90%;
    margin-left: 5%;
  }
  .signUpWindow{
    height: fit-content;
    top: 10px;
  }
}
